* {
    box-sizing: border-box;
}

.picContainer {
    display: flex;
    .picContent {
        width: 200px;
        height: 200px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 80vh;
        border-radius: 50px;
        margin: 10px;
        flex: 0.5;
        -webkit-transition: flex 700ms ease-in;

        h3 {
            opacity: 0;
        }
        
       
    }
    .picContent.active {
        flex: 5;
        position: relative;

        h3 {
            position: absolute;
            color: #fff;
            font-size: 24px;
            bottom: 20px;
            left: 20px;
            transition: opacity 0.3s ease-in 0.4s;
            opacity: 1;
        }
    }

    

    
}
