.card-content {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: calc(100% - 20px);
    margin: 20px auto;
    box-shadow: 0 2px 10px rgb(87, 86, 86);
    border-radius: 10px;

    .card-header {
        background: url(../../style/images/53.jpg)  no-repeat scroll;
        background-size: 100% 200px;
        width: 100%;
        height: 200px;
    }

    .card-body {
        box-sizing: border-box;
        padding: 20px;
        h3 {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        p {
            -webkit-line-clamp: 3;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            text-overflow: ellipsis;
            word-break: break-all;
            overflow: hidden;
        }
        .avatar {
            display: flex;
            flex-direction: row;

            .profile-img {
                background-image: url(../../style/images/53.jpg);
                background-repeat: no-repeat;
                background-attachment: scroll;
                background-size: 40px 40px;
                width: 40px;
                height: 40px;
                border-radius: 50%;
            }
            .profile-info {
                display: flex;
                flex-direction: column;
                margin-left: 10px;
               
            }
        }
    }
}
