@font-face {
  font-family: "iconfont"; /* Project id 1395364 */
  src: url('iconfont.woff2?t=1628309210147') format('woff2'),
       url('iconfont.woff?t=1628309210147') format('woff'),
       url('iconfont.ttf?t=1628309210147') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gouwuche:before {
  content: "\e6fb";
}

.icon-huojian:before {
  content: "\e6fc";
}

.icon-jiangbei:before {
  content: "\e6fd";
}

.icon-jiudian:before {
  content: "\e6fe";
}

.icon-qianbao:before {
  content: "\e6ff";
}

.icon-qingli:before {
  content: "\e700";
}

.icon-shanchu:before {
  content: "\e701";
}

.icon-pinglun:before {
  content: "\e702";
}

.icon-shezhi:before {
  content: "\e703";
}

.icon-shu:before {
  content: "\e704";
}

.icon-tupian:before {
  content: "\e705";
}

.icon-xiazai:before {
  content: "\e706";
}

.icon-yuyin:before {
  content: "\e707";
}

.icon-zhiwen:before {
  content: "\e708";
}

.icon-chabei:before {
  content: "\e6f8";
}

.icon-circleradioselectedsolid:before {
  content: "\e6a9";
}

.icon-menu:before {
  content: "\e719";
}

.icon-nav02:before {
  content: "\e602";
}

.icon-nav04:before {
  content: "\e604";
}

.icon-eye:before {
  content: "\e608";
}

.icon-eye1:before {
  content: "\e612";
}

.icon-shoucang1:before {
  content: "\e629";
}

